.animated-button:root {
  --lovelish: hsl(0, 0%, 18%);
  --handshake: hsl(40, 100%, 66%);
  --btn2: hsl(242, 43%, 65%);
  --btn3: hsl(160, 86%, 63%);
}

/* Button 1 */
.animated-button .button {
  display: flex;
  border-radius: 2.5rem;
  transition: 0.5s;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  background-image: linear-gradient(
    to right,
    #8081cf,
    #847dc9,
    #8778c3,
    #8a74bd,
    #8d70b7,
    #8f6db2,
    #9169ac,
    #9266a7,
    #9362a1,
    #935e9a,
    #935b93,
    #93578d
  );
  color: white;
  animation: blurr 2s;
  animation-iteration-count: infinite;
  outline: none;
  cursor: pointer;
  border: none;
}

@keyframes blurr {
  0%,
  100% {
    box-shadow: 0 0 10px var(--handshake);
  }

  50% {
    box-shadow: 0 0 36px var(--handshake);
  }
}

@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.animated-button .title {
  font-weight: bold;
  transition: 0.5s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.animated-button .button:hover .title {
  transform: translateY(10px);
  animation: fade 0.5s;
  opacity: 0%;
}

.animated-button .description {
  position: absolute;
  font-weight: bold;
  line-height: 2rem;
  font-size: 2rem;
  font-style: italic;
  transition: 0.5s;
  opacity: 0%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.animated-button .button:hover .description {
  transform: translateY(-2px);
  opacity: 100%;
}